@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Cormorant:wght@400;600&family=Poppins:wght@300;400&display=swap");


body {
  font-family: "Poppins", sans-serif;
  background: #fff6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #fff6eb;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background: #005fa3;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

