
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Cormorant:wght@400;600&family=Poppins:wght@300;400&display=swap");


body{
background-color: #e2d3c1;
}
/* figure out how to change font for logo,if not change it into image using canva but keep theme minimalistic beige*/
.topbar{
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    margin-top: 0;
    margin-left: auto;
    background-image: linear-gradient(to right, #ae8a72, #d8c4b3); 
    top: 0;
    left: 0;
}

h{
    font-size: larger;
    margin-top: 25px;
    margin-left: 50px;
    position:fixed;
    font-family: "Poppins", sans-serif; /*find out why this isn't changing the font*/
}